*{
    margin: 0;
    padding: 0;
    width: auto;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(https://images.prismic.io/simpliroute/85eca361-d606-4cb9-9bb3-0bc359e09961_planograma+de+abarrotes.jpg?auto=compress%2Cformat&rect=0%2C121%2C1920%2C836&w=1920&fit=max&q=100);
    background-position: center bottom;
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 10vh;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #ffFdfc;
    font-size: 25px;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 10px;
    padding: 20px;
    color: #ffFdfc;
    display: block;
}

.menu .navbar ul li a:hover{    
    color: #ce967b;
}

#menu{
    display: none;
}

.menu-icono{
    width: 100px;
    padding: 20px 20px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    text-align: center;
    margin-bottom: 15px;
}

.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    margin-bottom: 35px;
}

.header-content p{
    font-size: 16px;
    color: #c5cbc5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #ce967b;
    color: #f9fafc;
    text-transform: uppercase;
}

.btn-1:hover{
    background-color: #ebad8d; 
}
